/* establish global variable */
:root {
  --muktaFamily:  Mukta, Arial, Helvetica, sans-serif;
  --darkBlue: rgb(40, 68, 102);
  --lightBlue: rgb(51, 147, 211);
  --turquoise: rgb(11, 165, 163);
  --lightGray: rgba(169, 169, 169, 0.404);
  --darkGray: rgb(143, 143, 143);
  --salmon: rgb(255, 143, 132);
  --sage: rgb(128, 125, 110);
  --white: rgba(255, 255, 255, 0.95);
  --darkBlueGray: rgba(50, 61, 79);
}

#header{
  height: 30vh;
  width: 100%;
  background: #fff url('/img/guitars-gf5520d351_640.jpg');
  z-index: 100;
}

.nav-options {
  margin: 0 5px 15px 5px;
  height: 38px;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.25s ease-in;
}

/* style the nav links and prep for hover */
.nav-options a{
  color: var(--darkBlue);
  font-weight: 400;
  padding: 5px 10px 0.5em;
  margin-right: 20px;
  text-decoration: none; 
  background-image: linear-gradient(200deg, var(--salmon) 0%, var(--salmon) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

.nav-left-section {
  height: 0;
}

.hamburger-menu{
  color: var(--white);
  height: 24px;
  margin-left: 25px;
  background-color: var(--turquoise);
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  height: 75px;
  left: -70px;
  top: -55px;
  width: 95px;
}

.hamburger-menu:hover {
  box-shadow: 0 0 2.5px 3.5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;  
}

.nav-middle-section {
  margin-left: -95px;
  display: none;
}

#home-button {
  margin-right: 50px;
  color: var(--turquoise);
  font-weight: 600;
  font-style: italic;
}

#home-button:hover {
  color: var(--white);
  background-size: 100% 90%;
}

#login-button {
  color: var(--turquoise);
  font-weight: 600;
  font-style: italic;
}

#login-button:hover {
  color: var(--white);
  background-size: 100% 90%;
}

#logout-button {
  color: var(--turquoise);
  font-weight: 600;
  font-style: italic;
}

#logout-button:hover {
  color: var(--white);
  background-size: 100% 90%;
}

#dashboard-button {
  margin-left: 50px;
  color: var(--turquoise);
  font-weight: 600;
  font-style: italic;
}

#dashboard-button:hover {
  color: var(--white);
  background-size: 100% 90%;
}

.nav-right-section {
  display: none;
  transition: all 0.25s ease-in;
}

#title{
  font-size: 24pt;
  position: absolute;
  top: 0;
}

#title:hover{
  font-size: 24pt;
  position: absolute;
  top: 0px;
  color: black;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

body {
  background-color: #f9f9fa;
}

.stretch-card>.card {
  width: 100%;
  min-width: 100%
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.padding {
  padding: 3rem !important
}

.card-sub {
  cursor: move;
  background-color: var(--lightBlue);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05)
}

.employee-name-profile {
  position: relative;
  color: var(--darkGray);
  font-size: 1.2rem;
  top: -54px;
}

.card-header {
  padding: 4px;
}

.card-sub:hover{
  box-shadow: 1px 1px 2px 1px var(--lightGray);
}

.card-sub:active{
  box-shadow: 2px 2px 2px 2px var(--darkGray);
}

.card-block {
  padding: 1.25rem;
  background-color: #fff !important;
  margin-bottom: 12px;
}

.user-name {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.post {
  text-align: left;
}

#user-prof-pic {
  width: 35px;
  height: 35px;
  border-radius: 30px;  
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding: 2.5px;
}

.card-title {
  font-style: italic;
  position: relative;
  color: var(--white);
  top: -58px;
}



.employee-details {
  position: relative;
  top: -40px;
}



/* Media Queries */

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}